@model IEnumerable<FinalCasestudy.Models.TreatmentDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentCharge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentCharge)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TreatmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TreatmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TreatmentId })
        </td>
    </tr>
}

</table>
