@model FinalCasestudy.Models.Appointment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorDetail.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorDetail.DoctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientDetail.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientDetail.PatientName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
